body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
}

.nav-container {
    background:#f6f6f6;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
}

a:hover {
    color:#2387D9;
}

/*Buttons*/
.button {
    text-align: center;
    font-size: 16px;
    margin : 2px;
    padding : 5px;
    border: 1px solid lightgray;
}

.button:hover {
    background-color: 157dd3;
    color: white;
    cursor:pointer;
}


/*Flash Messages*/
.flash-container {
    background: #99c5ee;
    font-family: Tahoma;
    font-size: 16px;
    padding: 25px;
    margin: 10px 0px 10px 0px;
}

/*Forms*/
.formtitle {
    width: 60%;
    font-family: Tahoma, sans-serif;
    margin: 10px 0px 10px 0px;
}

.formbody {
    width: 60%;
    height: 60px;
    font-family: Tahoma, sans-serif;
    margin: 10px 0px 10px 0px;
}

.formselect {
    width: 100px;
    font-family: Tahoma, sans-serif;
    margin: 10px 10px 10px 10px;
    font-size: 18px;
}

.forminput{
    margin: 10px 10px 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    width : 40%;
}

.table, .td, .th {
    border: 1px solid black;
}

.table {
    
    width: 100%;
}

.th {
    text-align: left;
}
.td {
    text-align: center;
   
}

classtitle{ 
    font-weight: bold; 
    color: cadetblue;
}

